body {
    background-color: #f1f9fd;
    color: #1a77a6;
    font-family: 'Lato', sans-serif;
    margin: 20px;
}
nav a, nav a:visited {
    color: #004b05;
}
nav {
    padding: 40px;
}
a:visited {
    color: #070e66;
}
.sitetitle {
    font-size: 2em;
}
#sitebanner {
    max-width: 100%;
}
.homeparentflex{
    display: flex;
    justify-content: space-around;
}
.column1 {
    flex: 1;
}
.column2 {
    flex: 2;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
.flexhack {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.hometext {
    margin: 50px;
    font-size: 1.2em;
}
#firstline {
    font-style: italic;
}
.homeimage {
    max-width: 100%;
}
.articleflex {
    display: flex;
    margin: 50px;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
    max-width: 100%;
    background-color: #285e83;
    border-radius: 1em
}
.articleflex p {
    max-width: 100%;
}
.columnimage {
    flex: 1.5;
    margin: 20px;
    flex-wrap: wrap;
}
.columntext {
    flex: 2;
    color: #fdfeff;
    margin: 20px;
    flex-wrap: wrap;
}
#oasisband {
    justify-content: center;
    max-width: 100%;
}
#vinyls {
    float: right;
    max-width: 100%;
    padding: 30px;
    justify-content: center;
}
@media only screen and (max-width: 800px) {
    nav a {
    max-width: 100%;
    display: block;
    padding: 3px;}
    span {
        display:none;}
}
.textcolumn {
    flex: 2;
}
.picturecolumn {
    flex: 1;
}
.centertext {
    text-align: center;
}
#morningglory {
    float: left;
    max-width: 100%;
    justify-content: center;
    padding: 30px;
}
.biggerfont {
    font-size: 1.2em;
}
.clear {
    clear:both;
}
.lefttext {
    text-align: left;
}
.interviewstyle {
    margin: 20px;
    max-width: 100%;
}


