body {
    background-color: #f1f9fd;
    color: #1a77a6;
    font-family: 'Poppins', sans-serif;
}
nav a, nav a:visited {
    color: #004b05;
}
nav {
    padding: 40px;
}
a:visited {
    color: #070e66;
}
.sitetitle {
    font-size: 2em;
}
#sitebanner {
    max-width: 100%;
}
.homeparentflex{
    display: flex;
    justify-content: space-around;
}
.column1 {
    flex: 1;
}
.column2 {
    flex: 2;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
.flexhack {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.hometext {
    margin: 50px;
}
#firstline {
    font-style: italic;
}
.homeimage {
    max-width: 100%;
}
.articleflex {
    display: flex;
    margin: 50px;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
    max-width: 100%;
    background-color: #285e83;
    border-radius: 1em
}
.columnimage {
    flex: 1.5;
    margin: 20px;
    flex-wrap: wrap;
}
.columntext {
    flex: 2;
    color: #fdfeff;
    margin: 20px;
    flex-wrap: wrap;
}
#oasisband {
    max-width: 100%;
}
#vinyls {
    max-width: 100%;
}
@media only screen and (max-width: 800px) {
    nav a {
    max-width: 100%;
    display: block;
    padding: 3px;}
    span {
        display:none;}
}
.bioflex1 {
    display: flex;
    margin: 50px;
}
.bioflex2 {
    display: flex;
    margin: 50px;
}
.textcolumn {
    flex: 2;
}
.picturecolumn {
    flex: 1;
}
